.for-record {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.for-record .div {
    background-color: rgba(255, 255, 255, 1);
    background: linear-gradient(180deg, rgb(192, 142, 179) 0%, rgb(224, 202, 214) 65.1%, rgb(134, 168, 205) 100%);
    width: 1728px;
    height: 1117px;
    position: relative;
}

.for-record .overlap {
    position: absolute;
    width: 1728px;
    height: 175px;
    top: 0;
    left: 0;
    background-color: #0b1c47;
}

.for-record .text-wrapper {
    position: absolute;
    top: 29px;
    left: 685px;
    text-shadow: 2px 2px 5px #e0cad6;
    font-family: "Poppins-ExtraBoldItalic", Helvetica;
    font-weight: 800;
    font-style: italic;
    color: #f5f5f5;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.for-record .text-wrapper-2 {
    position: absolute;
    top: 30px;
    left: 687px;
    text-shadow: 2px 2px 5px #e0cad6;
    -webkit-text-stroke: 1px #f5f5f5;
    font-family: "Poppins-ExtraBoldItalic", Helvetica;
    font-weight: 800;
    font-style: italic;
    color: transparent;
    font-size: 64px;
    letter-spacing: 0;
    line-height: normal;
}

.for-record .p {
    position: absolute;
    top: 113px;
    left: 682px;
    text-shadow: 2px 2px 5px #e0cad6;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
    color: #f5f5f5;
    font-size: 20px;
    letter-spacing: 0;
    line-height: normal;
}

.for-record .overlap-group {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 259px;
    left: 905px;
    background-color: #0b1c47;
    border-radius: 50px;
}

.for-record .rectangle {
    position: relative;
    width: 40px;
    height: 40px;
    top: 31px;
    left: 30px;
    background-color: #e0cad6;
}

.for-record .polygon-wrapper {
    position: absolute;
    width: 100px;
    height: 100px;
    top: 259px;
    left: 740px;
    background-color: #0b1c47;
    border-radius: 50px;
}

.for-record .polygon {
    position: absolute;
    width: 38px;
    height: 43px;
    top: 29px;
    left: 38px;
}

.for-record .overlap-2 {
    position: absolute;
    width: 651px;
    height: 77px;
    top: 395px;
    left: 539px;
}

.for-record .rectangle-2 {
    position: absolute;
    width: 650px;
    height: 60px;
    top: 0;
    left: 0;
    background-color: #f5f5f5;
    border-radius: 88px;
    border: 4px solid;
    border-color: #0b1c47;
}

.for-record .rectangle-3 {
    position: absolute;
    width: 150px;
    height: 60px;
    top: 0;
    left: 501px;
    background-color: #0b1c47;
    border-radius: 88px;
}

.for-record .text-wrapper-3 {
    position: absolute;
    width: 172px;
    top: 10px;
    left: 21px;
    text-shadow: 2px 2px 5px #e0cad6;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #0b1c47;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}

.for-record .text-wrapper-4 {
    position: absolute;
    width: 88px;
    top: 10px;
    left: 548px;
    text-shadow: 2px 2px 5px #e0cad6;
    font-family: "Poppins-SemiBold", Helvetica;
    font-weight: 600;
    color: #f5f5f5;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
}
